@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
height: 100%;
}


body {
font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
background: #FFFFFF;
color: #000000;
}


/* Trybe specific small styles */
.btn-rounded { border-radius: 20px; }
.card-shadow { box-shadow: 0 6px 18px rgba(0,0,0,0.06); }


/* Search input outline pink */
.search-outline:focus { box-shadow: 0 0 0 4px rgba(255,192,203,0.18); }